* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
html {
    background-color: #B91D50;
}

.col-10.container {
    color: #B91D50;
    border-radius: 10px;

}

.generated-container {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}